/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0b3b68;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(24, 49, 80, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #112a55;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h2 {
    font-size: 22px;
    color: #102b5a;
}

p {
    line-height: 1.6;
    font-size: 18px;
}
